.myModalCss{
    background-color:#f5f5f5 ;
    margin: auto;
    position: absolute ;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;


}
.table_td{
    overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}


